<html lang="en" <% if(darkMode === 1) {%>
  data-bs-theme = "dark"
  <% }  %>>
<%- include("../boilerplates/boilerplate") %>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="mt-5 " style="width:1000px; margin-left:50px;">
        <h1>Your Account</h1>
        <form action="/productivity/account/change?_method=PUT" class = "needs-validation" method="POST" novalidate>
          <div class="form-group">
            <label for="exampleInputEmail1">Update Username?</label>
            <input type="text" class="form-control mb-4 mt-4" id="exampleInputEmail1" aria-describedby="emailHelp" name="Update username?" value = <%=data.username%> required>
            <div class="valid-feedback">
              Looks good!
            </div>
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">Current Password</label>
            <input type="password" class="form-control  mt-3" id="exampleInputPassword1" placeholder="Current password" name="password"
              required>
            <input type="checkbox" onclick="myFunction()">Show Password <br>
            <label for="exampleInputPassword2" class = "mt-4">Update Password</label>
            <input type="password" class="form-control  mt-3" id="exampleInputPassword2" placeholder="New Password" name="changedPassword"
              required>
              <input type="checkbox" onclick="myFunction2()" class = "mb-3">Show Password
            <div class="valid-feedback">
              Looks good!
            </div>
          </div>
          <button type="submit" class="btn btn-primary mt-3">Submit</button>
        </form>
        <form action = "/productivity/account/delete?_method=DELETE" method = "POST">
          <button type = "submit" class = "btn btn-danger">Delete Account</button>
        </form>
      </div>
</body>
<script>
    function myFunction() {
  const x = document.getElementById("exampleInputPassword1");
  if (x.type === "password") {
    x.type = "text";
  } else {
    x.type = "password";
  }
}
function myFunction2() {
  const x = document.getElementById("exampleInputPassword2");
  if (x.type === "password") {
    x.type = "text";
  } else {
    x.type = "password";
  }
}
</script>
<script  src = "/javascripts/BootStrapError.js" type = "text/javascript"></script>
</html>