
<html lang="en" <% if(darkMode === 1) {%>
    data-bs-theme = "dark"
    <% }  %>>
  
<%- include("../boilerplates/boilerplate")  %>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Todo</title>
</head>
<body>

   

   


</body>
</html>
