#circle{
    width:20px;
    height:20px;
    border:1px black solid;
    border-radius:50%;
}
#circle2{
    width:10px;
    height:10px;
    border:1px black solid;
    border-radius:50%;
    transform: translate(2ch,2mm);
}
#circle3{
    width:5px;
    height:5px;
    border:1px black solid;
    border-radius:50%;
    transform:translate(0.4ch,1mm)
}
#circle4{
    width:1px;
    height:1px;
    border:1px black solid;
    border-radius:50%;
    transform:translate(0.1ch,0.2mm)
}